<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VideoStream</title>
    <style type="text/css">
        #streamDiv > div{
            float: left;
        }
    </style>
</head>
<body>
    <div id="streamDiv">
        <div>
            <h3>Stream1</h3>
            <video id="videoSteam1" width="600px" height="600px"></video>
        </div>
        <div>
            <h3>Stream2</h3>
            <video id="videoSteam1" width="600px" height="600px"></video>
        </div>
    </div>
    
</body>
</html>